@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-align: center; 
    border: 0;
}

#captar-renda{
    
    
    padding: 160px; 
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 65px;
    background-color: black;  
    background-image: linear-gradient(to right, rgba(0,0,0, 0.9) 55%, rgba(0,0,0,0)), url(/side-project/mathematical-geometric-background-vector-gradient-blue-education-remix_53876-114100.jpg);
    background-size: cover;
    color: white; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;  
    justify-content: start;
    align-items:normal; 
    text-align: start;
    
    
}  

#captar-gastos, #captar-gastos2, #captar-reserva, #captar-credito, #caderno{
    padding: 18px;
    background-color: #4443; 
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center; 
    justify-self: center;
}  

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    
} 

input, label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    padding: 5px; 
    border-radius: 10px;
    margin-top: 0px;
} 

button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white; 
    font-size: 1.11rem;
    background-color: rgb(5, 52, 105);
    padding: 10px 140px; 
    margin-top: 00px; 
    border: none;
    border-radius: 20px; 
}

button:hover{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white; 
    font-size: 1.11rem;
    background-color:  rgb(7, 99, 204);
    padding: 10px 140px; 
    margin-top: 0px; 
    border: none;
    border-radius: 20px;  
    transition: color, ease-in-out 0.2s;
} 

#btn {
    background-color: #999; 
    padding: 25px; 
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

#GD,#GR,#GC{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -32px;
    border-bottom: none;
}

