*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin-top: 85px; 
    background-color: black; 
    background-image: linear-gradient(to left, black, gray); 
    display: grid; 
    grid-column: ; 
} 

.porcentagem, .juros{
    background-color: #999; 
    margin: 35px 550px 0px 550px; 
    padding: 20px;
    border: none;
    border-radius: 25px; 
}

input {
    margin: 7px;
    padding: 5px 95px 5px 95px; 
    border-radius: 15px; 
    border: none; 
} 

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700; 
    font-size: 26px;
    margin-bottom: 18px; 
} 

button {
    padding: 5px 95px 5px 95px;  
    border: none; 
    border-radius: 15px; 
    margin: 10px 0px 0px 0px;
}

button:hover {
    background-color: #777;
    padding: 5px 95px 5px 95px;  
    border: none; 
    border-radius: 15px; 
    margin: 10px 0px 0px 0px;
}